body {
  font-family: 'PT Sans', sans-serif;
}

#background {
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: url('./assets/background.jpg');
  background-size: cover;
}

.container {
  font-family: 'PT Sans', sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

canvas {
  border: 1px solid black;
  background: grey;
}

#ui {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 20px;
  z-index: 1;
  width: 400px;
  display: flex;
  justify-content: space-around;
}

#play {
  text-align: center;
  border-radius: 10px;
  width: 100px;
  padding: 10px 50px;
  margin-top: 10px;
  background-color: #36465d;
  color: white;
  margin-bottom: 20px;
}

#play:hover, #play-again:hover {
  cursor: pointer;
}

#play-again {
  text-align: center;
  border-radius: 10px;
  width: 100px;
  padding: 10px 50px;
  margin-top: 10px;
  background-color: #36465d;
  color: white;
}

#welcome {
  border-radius: 10px;
  background-color: white;
  width: 500px;
  z-index: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 300px;
}

#title {
  padding: 10px 0;
  font-size: 40px;
}

#description {
  padding: 10px 10px;
  line-height: 20px;
}